/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

.clear {
  clear: both;
}

.text-white {
  color: #fff !important;
}

/* 
1. Outside to inside
2. Top to bottom
3. Overall to detail
*/

/* 
1. Position
2. Size (width, height)
3. Color
4 Style (font style, shape,...)
*/

#main {
}

#header {
  height: 46px;
  background-color: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  right: 0%;
  z-index: 1;
}

#nav,
.subnav {
  list-style: none;
}

#nav {
  display: inline-block;
}

#nav > li {
  display: inline-block;
}

#nav li {
  position: relative;
}

#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}

#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: inline-block;
}

#nav li:hover .subnav {
  display: block;
}

#nav .subnav li:hover a,
#nav > li:hover > a {
  color: #000;
  background-color: #ccc;
  display: block;
}

#nav .subnav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#nav .subnav a {
  color: #000;
  padding: 0 16px;
  line-height: 38px;
}

#nav .nav-arrow-down {
  font-size: 14px;
}

#header .search-button {
  float: right;
}

#header .search-button:hover {
  background-color: #f44336;
  cursor: pointer;
}

#header .search-icon {
  color: #fff;
  font-size: 20px;
  line-height: 46px;
  padding: 0 21px;
}

#slider {
  position: relative;
  margin-top: 46px;
  padding-top: 50%;
  background: url(/assets/img/chicago.jpg) top center / cover no-repeat;
}

#slider .text-content {
  position: absolute;
  bottom: 47px;
  color: #fff;
  /* A way to center align */
  /* left: 50%;
  text-align: center;
  transform: translateX(-50%); */
  width: 100%;
  text-align: center;
  /* right: 0;
  left: 0;
  text-align: center; */
}

#slider .text-heading {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 25px;
}

#slider .text-description {
  font-size: 15px;
}

#content {
}

#content .content-section {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  padding: 64px 0;
}

#content .section-heading,
#content .section-sub-heading {
  text-align: center;
}

#content .section-heading {
  font-size: 30px;
  letter-spacing: 4px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
}

#content .section-sub-heading {
  font-size: 15px;
  font-style: italic;
  margin-top: 25px;
  opacity: 0.6;
}

#content .about-text {
  margin-top: 25px;
  font-size: 15px;
  text-align: justify;
  line-height: 1.4;
}

#content .members-list {
  margin-top: 47px;
  overflow: hidden;
}

#content .member-items {
  float: left;
  width: calc(100% / 3);
  text-align: center;
}

#content .name-member {
  font-size: 15px;
}

#content .image-member {
  width: 60%;
  margin: 15px;
  border-radius: 4px;
}

.tour-section {
  background-color: #000;
  display: block;
}

.tour-date-list {
  background-color: #fff;
  margin-top: 39px;
}

.tour-section .tour-date-list li {
  font-size: 15px;
  list-style: none;
}
.tour-section .tour-month {
  color: rgb(117, 117, 117);
  height: 39px;
  padding: 8px 16px;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.tour-section .sold-out {
  color: #fff;
  background-color: #f44336;
  margin: 0 16px;
  padding: 0 8px;
}

.tour-section .available-tickets {
  color: #fff;
  background-color: #000;
  float: right;
  width: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 50%;
}

/* Place */
.place-lists {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: -8px;
  margin-right: -8px;
}

.place-items {
  padding: 0 8px;
  margin-bottom: 32px;
}

.place-img {
  display: block;
}

.place-content {
  padding: 15px;
  background-color: #fff;
}

.place-heading {
  font-size: 15px;
}

.place-sub-heading {
  font-size: 15px;
  opacity: 0.6;
  margin-top: 30px;
}

.place-description {
  font-size: 15px;
  margin-top: 30px;
}

.place-tickets-button {
  background-color: #000;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
}

.place-tickets-button:hover {
  background-color: rgb(204, 204, 204);
  color: black;
}

/* Contact */

#footer {
}

.modal {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal .modal-container {
  background-color: #fff;
  width: 900px;
  min-height: 200px;
  position: relative;
}

.modal-header {
  background-color: #009688;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  letter-spacing: 4px;
  font-weight: 400;
  color: #fff;
}

.modal-heading-icon {
  padding: 16px;
}

.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  padding: 12px;
  cursor: pointer;
  opacity: 0.7;
}

.modal-close:hover {
  opacity: 1;
}

.modal-body {
  padding: 16px;
}

.modal-label {
  display: block;
  font-size: 15px;
  margin-bottom: 12px;
}

.modal-input {
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 24px;
}
